<div style="font-family:arial; font-size:16px;">
    <p>
        Cher Monsieur/Madame {{ customer.lastName }},<br/><br/>
        Merci de vous être inscrit sur notre boutique.<br/>
        Vous avez accès via l'adresse e-mail {{customer.email}} et le mot de passe que vous avez choisi. Vous pouvez changer votre mot de passe à tout moment.
    </p>
</div>