<div style="font-family:arial; font-size:16px;">
    <p>
        Dear Sir/Madam {{ userRecovery.user.lastName }},<br/><br/>
        There has been a request to reset your password. Please confirm the link below to specify a new password.<br/>
        Reset password: <a href="{{ resetUrl }}">{{ resetUrl }}</a><br/>
        This link is valid for the next 2 hours.<br/>
        If you do not want to reset your password, please ignore this email. No changes will be made.
    </p>
</div>


