{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block page_content %}
    <div class="container">
        {% sw_include "@WdtShopwareHelper/storefront/component/wdt-custom-form.html.twig" %}
    </div>
{% endblock %}
