<div style="font-family:arial; font-size:16px;">
    <p>
        Cher Monsieur/Madame {{ newsletterRecipient.lastName }},<br/><br/>
        Merci de l'intérêt que vous portez à notre newsletter.<br/>
        Veuillez confirmer que vous souhaitez recevoir la newsletter régulièrement en cliquant sur le lien: <a href="{{ url }}">{{ url }}</a><br/>
        Si vous n'êtes pas inscrit à la newsletter, veuillez ignorer cet e-mail.
    </p>
</div>