<div style="font-family:arial; font-size:16px;">
    <p>
        Geachte Heer/Mevrouw {{ newsletterRecipient.lastName }},<br/><br/>
        Bedankt voor uw registratie. U bent geabonneerd op onze nieuwsbrief.
    </p>
</div>