<div style="font-family:arial; font-size:16px;">
    <p>
        Geachte Heer/Mevrouw {{ customer.lastName }},<br/><br/>
        Bedankt voor uw registratie.<br/>
        Bevestig uw e-mailadres via de volgende link: <a href="{{ confirmUrl }}">{{ confirmUrl }}</a><br/>
        Door deze bevestiging gaat u er ook mee akkoord dat we u verdere e-mails kunnen sturen.
    </p>
</div>