<div style="font-family:arial; font-size:16px;">
    <p>
        Cher Monsieur/Madame {{ customer.lastName }},<br/><br/>
        Merci de votre inscription.<br/>
        Confirmez l'inscription via le lien suivant: <a href="{{ confirmUrl }}">{{ confirmUrl }}</a><br/>
        Par cette confirmation, vous acceptez également que nous puissions vous envoyer d'autres e-mails dans le cadre de l'exécution du contrat.
    </p>
</div>