<div style="font-family:arial; font-size:16px;">
    <p>
        Cher Monsieur/Madame {{ customerRecovery.customer.lastName }},<br/><br/>
        Une demande a été faite pour réinitialiser votre mot de passe. Cliquez sur le lien ci-dessous pour saisir un nouveau mot de passe.<br/>
        Réinitialiser le mot de passe: <a href="{{ resetUrl }}">{{ resetUrl }}</a><br/>
        Ce lien est valable pour les 2 prochaines heures. Après cela, vous devez demander un nouveau lien de confirmation.<br/>
        Si vous ne souhaitez pas réinitialiser votre mot de passe, ignorez cet e-mail. Aucune modification n'est apportée.
    </p>
</div>