<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <input-field>
            <name>stringConfig</name>
            <label>String config</label>
        </input-field>
        <input-field>
            <name>otherStringConfig</name>
            <label>Other string config</label>
        </input-field>
        <input-field>
            <name>commaStringConfig</name>
            <label>Comma string config</label>
        </input-field>
    </card>
</config>
