<div style="font-family:arial; font-size:16px;">
    <p>
        Dear Sir/Madam {{ customer.lastName }},<br/><br/>
        Please confirm your email address via the following link: <a href="{{ confirmUrl }}">{{ confirmUrl }}</a><br/>
        After the confirmation, you will be directed to the checkout, where you can check and complete your order again.<br/>
        By this confirmation, you also agree that we may send you further emails.
    </p>
</div>