<div style="font-family:arial; font-size:16px;">
    <p>
        Dear Sir/Madam {{ order.orderCustomer.lastName }},<br/><br/>
        Attached to this e-mail you will find the credit of your order with the number: {{ order.orderNumber }}
        If you have any questions, don't hesitate to contact us.
    </p>
</div>
