<div style="font-family:arial; font-size:16px;">
    <p>
        Cher Monsieur/Madame {{ customer.lastName }},<br/><br/>
        Votre compte a été refusé pour le groupe de clients: {{ customerGroup.translated.name }}<br/>
        Si vous avez des questions, n'hésitez pas à nous contacter par téléphone, fax ou email.
    </p>
</div>