<div style="font-family:arial; font-size:16px;">
    <p>
        Geachte Heer/Mevrouw {{ customer.lastName }},<br/><br/>
        Uw account is niet geaccepteerd voor de klantengroep: {{ customerGroup.translated.name }}<br/>
        Als u vragen heeft, aarzel dan niet om contact met ons op te nemen.
    </p>
</div>