<div style="font-family:arial; font-size:16px;">
    <p>
        Geachte Heer/Mevrouw {{ customer.lastName }},<br/><br/>
        Uw klantgroepwijziging is geaccepteerd.<br/>
        Als u vragen heeft, aarzel dan niet om contact met ons op te nemen.
    </p>
</div>