<div style="font-family:arial; font-size:16px;">
    <p>
        Dear Sir/Madam {{ newsletterRecipient.lastName }},<br/><br/>
        Thank you for your interest in our newsletter.<br/>
        Confirm that you wish to receive the newsletter: <a href="{{ url }}">{{ url }}</a><br/>
        If you have not subscribed to the newsletter, please ignore this email.
    </p>
</div>