<div style="font-family:arial; font-size:16px;">
    <p>
        Dear Sir/Madam {{ customer.lastName }},<br/><br/>
        You customer group registration has been accepted.<br/>
        If you have any questions, do not hesitate to contact us.
    </p>
</div>