<div style="font-family:arial; font-size:16px;">
    <p>
        Cher Monsieur/Madame {{ newsletterRecipient.lastName }},<br/><br/>
        Merci de votre inscription. Vous êtes abonné à notre newsletter.
    </p>
</div>