<div style="font-family:arial; font-size:16px;">
    <p>
        Dear Sir/Madam {{ customer.lastName }},<br/><br/>
        Thank you for your registration.<br/>
        You will gain access via the email address <strong>{{ customer.email }}</strong> and the password you have chosen. You can change your password anytime.
    </p>
</div>