<div style="font-family:arial; font-size:16px;">
    <p>
        Geachte Heer/Mevrouw {{ newsletterRecipient.lastName }},<br/><br/>
        Bedankt voor uw interesse in onze nieuwsbrief.<br/>
        Bevestig dat u de nieuwsbrief wilt ontvangen: <a href="{{ url }}">{{ url }}</a><br/>
        Als u zich niet heeft aangemeld voor de nieuwsbrief, negeert u deze e-mail.
    </p>
</div>