<div style="font-family:arial; font-size:16px;">
    <p>
        Cher Monsieur/Madame {{ customer.lastName }},<br/><br/>
        Confirmez votre adresse e-mail via le lien suivant: <a href="{{ confirmUrl }}">{{ confirmUrl }}</a><br/>
        Après confirmation, vous serez dirigé vers la caisse où vous pourrez vérifier et compléter à nouveau votre commande.<br/>
        Par cette confirmation, vous acceptez également que nous puissions vous envoyer d'autres e-mails dans le cadre de l'exécution du contrat.
    </p>
</div>