<div class="cms-block">
    <div class="cms-element-form">
        <form
            novalidate
            data-form-csrf-handler="true"
            data-form-validation="true"
            {% block wdt_form_action %}
                {# action="{{ path(wdtFormRoute) }}" #}
            {% endblock %}
              method="post">

            <div class="form-content">
                {% block wdt_form_content %}

                    {% set wdtSelectOptions = {
                            '1': {
                                'label': 'wdt-shopware-helper.select.value1',
                                'value': 1,
                            },
                            '2': {
                                'label': 'wdt-shopware-helper.select.value2',
                                'value': 2,
                            },
                            '3': {
                                'label': 'wdt-shopware-helper.select.value3',
                                'value': 3,
                            }
                        }
                    %}

                    <div class="form-row">
                        {% sw_include '@WdtShopwareHelper/storefront/component/wdt-form-select.html.twig'
                            with {
                                fieldName: 'fieldSelect',
                                required: false,
                                additionalClass: 'col-12',
                                label: 'wdt-shopware-helper.field.fieldSelect',
                                placeholderLabel: 'wdt-shopware-helper.placeholder.fieldSelect',
                                options: wdtSelectOptions
                            }
                        %}
                    </div>

                    <div class="form-row">
                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                            with {
                            fieldName: 'fieldText',
                            required: false,
                            additionalClass: 'col-12',
                            label: 'wdt-shopware-helper.field.fieldText'
                        }
                        %}
                    </div>

                    <div class="form-row">
                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                            with {
                            type: 'email',
                            fieldName: 'fieldEmail',
                            required: false,
                            additionalClass: 'col-12',
                            label: 'wdt-shopware-helper.field.fieldEmail'
                        }
                        %}
                    </div>

                    <div class="form-row">
                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-textarea.html.twig'
                            with {
                            rows: 5,
                            required: false,
                            fieldName: 'fieldTextArea',
                            additionalClass: 'col-12',
                            label: 'wdt-shopware-helper.field.fieldTextArea'
                        }
                        %}
                    </div>

                    <div class="form-row">
                        {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
                            with {
                            type: 'file',
                            fieldName: 'fieldUpload',
                            required: false,
                            additionalClass: 'col-12',
                            label: 'wdt-shopware-helper.field.fieldUpload'
                        }
                        %}
                    </div>

                {% endblock %}
            </div>

            {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-info-required.html.twig' %}
            {% sw_include '@Storefront/storefront/component/captcha/base.html.twig' %}

            <button type="submit" class="btn btn-primary">
                {% block wdt_form_submit_button %}
                     {{ 'wdt-shopware-helper.submitButtonLabel'|trans|sw_sanitize }}
                {% endblock %}
            </button>

            <div class="form-hidden-fields">
                <input type="submit" class="submit--hidden d-none" />
                {% block wdt_form_crsf %}
                    {# {{ sw_csrf(wdtFormRoute) }} #}
                {% endblock %}

                {% block wdt_form_hidden_fields %}
                {% endblock %}
            </div>
        </form>
    </div>
</div>
