<div style="font-family:arial; font-size:16px;">
    <p>
        Geachte Heer/Mevrouw {{ order.orderCustomer.lastName }},<br/><br/>
        Als bijlage bij deze e-mail vindt u het tegoed van uw bestelling met het nummer: {{ order.orderNumber }}<br/>
        Mocht u vragen hebben, aarzel dan niet om contact met ons op te nemen.
    </p>
</div>
