<div style="font-family:arial; font-size:16px;">
    <p>
        Geachte Heer/Mevrouw {{ customerRecovery.customer.lastName }},<br/><br/>
        Er is een verzoek ingediend om uw wachtwoord opnieuw in te stellen. Klik de onderstaande link om een nieuw wachtwoord op te geven.<br/>
        Wachtwoord resetten: <a href="{{ resetUrl }}">{{ resetUrl }}</a><br/>
        Deze link is de komende 2 uur geldig.<br/>
        Als u uw wachtwoord niet opnieuw wilt instellen, negeert u deze e-mail. Er worden geen wijzigingen aangebracht.
    </p>
</div>